+++
title = "OlexSys"
linkTitle = "OlexSys"
+++

{{< blocks/cover title="Welcome to OlexSys" image_anchor="center" height="min"  font_color="dark">}}
<div class="mx-auto">
  <a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/olex2" >}}">
    Olex2 
  </a>
  <a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/labsafe" >}}">
    LabSafe
  </a>
</div>
{{< /blocks/cover >}}

{{% blog_showcase color="secondary" %}}

{{% blocks/lead color="primary" %}}
OlexSys Ltd is a scientific software company providing State of the Art **Crystallographic Software** as well as the best **Laboratory Chemicals Management** there is.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature_2 icon="logo_olex2_192.png" title="Olex2" url="/olex2" font_color="light"%}}
Simply the world's most popular crystallographic package for small-molecule crystallography.
{{% /blocks/feature_2 %}}

{{% blocks/feature_2 icon="logo_labsafe.png" title="LabSafe" url="/labsafe" font_color="light" %}}
The most comprehensive chemicals management system for academic institutions.
{{% /blocks/feature_2 %}}

{{% blocks/feature_2 icon="fa-graduation-cap" title="Training" url="/olex2/training" font_color="light" %}}
Crystallographic Training and Consulting: We are here to help!
{{% /blocks/feature_2 %}}


{{< /blocks/section >}}



{{< blocks/section color="secondary" font_color="dark">}}

<div class="col-12 ">
<h1 class="text-center">Welcome to OlexSys<h1/>
</div>
{{< /blocks/section >}}

