---
title: About OlexSys
linkTitle: About
type: static
menu:
  main:
    weight: 50

---

{{< blocks/cover title="About OlexSys" image_anchor="right" height="min" color="white"  font_color="light">}}

<div class="col--8 light" >
OlexSys Ltd is a small company based in Durham, in the North East of England. We develop the  crystallographic package <b>Olex2</b> - the world's favourite software for working with small-molecule crystal structures. We are also behind LabSafe - a highly sophisticated laboratory chemicals safety management system.
</div>


{{< /blocks/cover >}}

{{% blocks/lead %}}
We started as a spin-out company from Durham University in 2010 and have remained small,  independent and research-focused ever since. We maintain strong links with the academic community in general and Durham University in particular.{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-cogs" width="30" title="Oleg Dolomanov" %}}

{{< webp image="/images/OVD" class="none" caption="false" float="none" >}}

Oleg is one of the founding members of OlexSys and has been involved in Olex2 development right from the start. <br> oleg@olexsys.org
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-cogs" title="Horst Puschmann" %}}

{{< webp image="/images/HP" class="none" caption="false" float="none" >}}

Horst is one of the founding members of OlexSys and has been involved in Olex2 development right from the start.  <br> horst@olexsys.org
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-graduation-cap" title="Hazel Sparkes" %}}
{{< webp image="/images/HAS.jpg" class="none" caption="false">}}

Hazel is an expert crystallographer and is in charge of co-ordinating the various aspects of what OlexSys does.  <br> hazel@olexsys.org
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-graduation-cap" title="Judith Howard" %}}
{{< webp image="/images/JAKH" class="none" caption="false">}}

Prof Howard has been instrumental in getting Olex2 and OlexSys 'off the ground' and is a founding member.  <br> j.a.k.howard@durham.ac.uk
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-magic" title="Michael Bodensteiner" %}}
{{< webp image="/images/MB" class="none" caption="false">}}

Michael is running our business development from the German office.  <br> michael@olexsys.org
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-magic" title="Florian Kleemiss" %}}
{{< webp image="/images/FK" class="none" caption="false">}}

Florian is a software developer for OlexSys focussed on the implementation of the Non-spherical atom models.  <br> florian@olexsys.org
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-magic" title="Georg Stammler" %}}
{{< webp image="/images/GS" class="none" caption="false">}}

Georg is a specialist for dealing with tricky crystal structures and is instrumental in making sure that Olex2 lives up to its expected high standard.  <br> georg@olexsys.org

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-magic" title="Aileen Congreve" %}}
{{< webp image="/images/aileen"  class="none" caption="false">}}

Aileen handles our business administration and is the first contact for all enquiries<br> aileen@olexsys.org
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-magic" title="Michael Seidl" %}}
{{< webp image="/images/michi.jpg" class="none" caption="false">}}

Michi is an expert in evaluating the quality of a crystal structure and in assisting with difficult structures.
<br> michi@olexsys.org
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-magic" title="Florian Meurer" %}}
{{< webp image="/images/flo.jpg" class="none" caption="false">}}

Florian assists in the website development and the execution of LabSafe projects.<br> flo@olexsys.org
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section color="primary">}}

<div class="col-12 ">
<h1 id="contact" class="text-center">&nbsp; &nbsp; &nbsp; &nbsp;Get in touch!</h1>
</div>


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
Please email us at <b>helpdesk@olexsys.org</b> directly or use this form with any query you may have regarding any aspect of what we do.
    </div>
    <div class="col-12">
If your query is about technical support with Olex2, please make sure to include the version of Olex2 and your operating system. It is also helpful to include relevant parts of the log file (and not screenshots) -- just type 'log' into Olex2!
    </div>
  </div>

<br>  

<div class="col-12 ">
{{% contact-form %}}
</div>

<div class="row justify-content-around">
    <div class="col-6">
      <b>OlexSys Ltd</b><br>
      Chemistry Department<br>
      Durham University<br>
      DH1 3LE<br>
      UK
    </div>
    <div class="col-6">
      <b>OlexSys GmbH</b><br>
      Edith-Stein-Str. 14<br>
      93055 Regensburg<br>
      Germany
  </div>
<div>


{{< /blocks/section >}}
